
@{
    ViewBag.Title = "Error";
}

<h1>Код с картинки или другие данные были некорректно введены </h1>
<div class="col-md-12">
    <button type="button" class="btn btn-info" onclick="main()" style="width:50rem;height:10rem;border-radius:60%;font-size:3em;">На главную</button>
    <button type="button" class="btn btn-info" onclick="ToCommets()" style="width:50rem;height:10rem;border-radius:60%;font-size:3em;">К коментариям</button>
</div>
<script src="~/Scripts/_Error.js"></script>